{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>Today's List</title>
  <meta name="description" content="Today's List is a minimal to-do list site to manage today's priorities.">

  <link rel="stylesheet" href="{% static "css/styles.css"%}">

</head>

<body>
 	{% block content %}
	{% endblock content %}
	<H1>Today's List</H1>
	{% block js %}
	{% endblock js %}
</body>
</html>